{% trans_default_domain 'homepage.user' %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }} {{ 'page.index'|trans }} Mobile! ✅</h1>

    This friendly message is coming from:

    <ul>
        <li>Your controller at <code>/src/Homepage/Controller/IndexController.php</code></li>
        <li>Your template at <code>/templates/homepage/index/mobile/content.html.twig</code></li>
    </ul>

</div>

