{% trans_default_domain 'homepage.admin' %}

<div class="example-wrapper">

    This friendly message is coming from:

    <ul>
        <li>Your controller at <code>/src/Core/Controller/IndexController.php</code></li>
        <li>Your template at <code>/src/Core/Resources/view/user/homepage/mobile/content.html.twig</code></li>
    </ul>

</div>

